<div class="container">
  <div class="jumbotron text-center translucent">
    <h1>Abhinav Jha</h1>
    <hr />
    <img src="{{profile_pic}}" class="img-rounded" alt="Photo" width="300" height="400">
    <hr />
    <div class="text-left">
      <p>I am software engineer and a tech enthusiast working in the field of Big Data and Security. Currently employed at IBM, I work in the Cloud
        Platform team. My daily work includes writing Spark jobs and developing cool front-end components. I have a Bachelors in Computer Science and
        Masters in Cyber Security.
      </p>

      <p>
        My career interests span across multiple domains with a focus on Big Data. I have an affinity for design and have been part of several design
        groups.
      </p>
    </div>
    <hr />
  </div>
</div>
