<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">Home</a>
      <li><a href="">Projects</a>
      <li><a href="">Skills</a></li>
      <li><a href="">Experience</a></li>
      <li><a href="">Education</a></li>
      <li><a href="{{resume_pdf}}" target="_blank">Resume <span class="glyphicon glyphicon-new-window"></span></a></li>
      <li><a href="http://www.ajaxisme.wordpress.com" target="_blank">Blog <span class="glyphicon glyphicon-new-window"></span></a></li>
      <li><a href="">Design</a></li>
      <li><a href="{{portfolio_pdf}}" target="_blank">Portfolio <span class="glyphicon glyphicon-new-window"></span></a></li>
      <li><a href="">Contact <span class="glyphicon glyphicon-envelope"></span></a></li>
    </ul>
  </div>
</nav>
