<div class="jumbotron container">
  <h2 class="text-center">PROJECTS</h2>
  <hr />
  <div class="panel-group" *ngFor="let project of projects" id="accordion">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#{{project.title}}">{{project.title}}</a>
        </h4>
      </div>
      <div id="{{project.title}}" class="panel-collapse collapse">
        <div class="panel-body">
          {{ project.description}}
        </div>
      </div>
    </div>
  </div>
</div>
